{% extends "shop/base.html" %}
{% load static %}
 
{% block title %}
Tu carro de compras
{% endblock %}
 
{% block content %}
    <h1>Tu carro de compras</h1>
    <table class="cart">
        <thead>
        <tr>
            <th>Imagen</th>
            <th>Producto</th>
            <th>Cantidad</th>
            <th>Remover</th>
            <th>Precio unitario</th>
            <th>Precio</th>
        </tr>
        </thead>
        <tbody>
        {% for item in cart %}
            {% with product=item.product %}
                <tr>
                    <td>
                        <a href="{{ product.get_absolute_url }}">
                            <img src="
                                    {% if product.imagen %}{{ product.imagen.url }}{% else %}{% static "shop/img/no_image.png" %}{% endif %}">
                        </a>
                    </td>
                    <td>{{ product.nombre }}</td>
                    <td>{{ item.cantidad }}</td>
                    <td>
                        <a href="{% url "cart:cart_remove" product.id %}">Remover</a>
                    </td>
                    <td class="num">${{ item.precio }}</td>
                    <td class="num">${{ item.total_price }}</td>
                </tr>
            {% endwith %}
        {% endfor %}
        <tr class="total">
            <td>Total</td>
            <td colspan="4"></td>
            <td class="num">${{ cart.get_total_price }}</td>
        </tr>
        </tbody>
    </table>
    <p class="text-right">
        <a href="{% url "shop:product_list" %}" class="button light">Continuar comprando</a>
        <a href="#" class="button">Pagar</a>
    </p>
{% endblock %}  