{% extends "shop/base.html" %}
{% load static %}

{% block title %}
    {% if category %}{{ category.nombre }}{% else %}Productos{% endif %}
{% endblock %}

{% block content %}
<div class="mx-auto row" style="width: 95%;">
    <div id="sidebar" class="col-2">

        <div class="list-group" >
            <div class="list-group-item list-group-item-linkable" data-link="http://www.google.com">
            <h3 class="list-group-item-heading">Categorias</h3>
            <a class="list-group-item list-group-item-action" role="tab" href="{% url "shop:product_list" %}">Todos</a>

            {% for c in categories %}
                <a class="list-group-item list-group-item-action selected" href="{{ c.get_absolute_url }}"  role="tab">{{ c.nombre }}
                    <a class="selected" href="{{ c.get_absolute_url }}" >
                </a>
            </a>
            {% endfor %}
            </div>
        </div>
    </div>

    <div class="product-list col-10">
        <h1>{% if category %}{{ category.nombre }}{% else %}
            Productos{% endif %}</h1>
        <div class="row" style="justify-content: space-evenly">
            {% for product in products %}
                <div class="item card" style="width: 20rem; margin: 10px 0;">
                    <div class="card-body">

                        <a class="card-title" href="{{ product.get_absolute_url }}">
                            {% load thumbnail %}

                            {% if product.imagen %}
                                {% thumbnail product.imagen '300x200' as im %}
                                    <img class="card-img-top" src="{{ im.url }}">
                                {% endthumbnail %}

                            {% else %}
                                <img class="card-img-top" src="{% static 'shop/img/no_image.png' %}">
                            {% endif %}
                        </a>

                        <a class="card-text" href="{{ product.get_absolute_url }}">{{ product.nombre }}</a><br>
                        ${{ product.precio }}
                    </div>
                </div>
            {% endfor %} 
        </div>
    </div>
</div>
{% endblock %}