{% extends "shop/base.html" %}
{% load static %}

{% block title %}
    Tu carrito de compras
{% endblock %}

{% block content %}
    <h1>Tu carrito de compras</h1>
    <table class="cart table table-striped col-10 mx-auto">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Imagen</th>
            <th scope="col">Producto</th>
            <th scope="col">Cantidad</th>
            <th scope="col">Remover</th>
            <th scope="col">Precio unitario</th>
            <th scope="col">Precio</th>
        </tr>
        </thead>
        <tbody>
        {% for item in cart %}
            {% with product=item.product %}
                <tr>
                    <th scope="row"> {{forloop.counter}} </td>
                    <td>
                        <a href="{{ product.get_absolute_url }}">
                            <img src="
                                    {% if product.imagen %}{{ product.imagen.url }}{% else %}{% static "shop/img/no_image.png" %}{% endif %}">
                        </a>
                    </td>
                    <td>{{ product.nombre }}</td>
                    <td>{{ item.quantity }}</td>
                    <td>
                        <a href="{% url "cart:cart_remove" product.id %}">Eliminar</a>
                    </td>
                    <td class="num">${{ item.precio }}</td>
                    <td class="num">${{ item.total_price }}</td>
                </tr>
            {% endwith %}
        {% endfor %}
        <tr class="total">
            <td>Total</td>
            <td colspan="5"></td>
            <td class="num">${{ cart.get_total_price }}</td>
        </tr>
        </tbody>
    </table>
    <p class="text-right">
        <a href="{% url "shop:product_list" %}" class="button light">Continuar comprando</a>
        <a href="#" class="button">Pagar</a>
    </p>
{% endblock %}